.otp-div{
    margin: 100px;
    width: 250px;
    height: 100px;
    padding: 20px;
    border : 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(0deg, rgb(245, 142, 7) 0%, rgb(185, 142, 205) 100%);
}

.btn{
    color: black;
}